DISCORD_TOKEN=''
TARGET_KEYWORDS=''
TARGET_USER_ID=''
TARGET_CATEGORY_IDS=''
EXCLUDED_CHANNEL_IDS=''

SUSPECT_CHANNEL_ID=''
SPAM_TRAP_CHANNEL_ID=''
SPAM_TRAP_CHANNEL_ID_2=''
SUSPECT_ROLE_NAME='Nghi Phạm'

BAN_LOG_THREAD_ID=''
DELETE_LOG_THREAD_ID=''
STARTUP_CHANNEL_ID=''
GENERAL_LOG_CHANNEL_ID=''

STEAMDB_PATCH_CHANNEL_ID=''
STEAMDB_APP_IDS=''
STEAMDB_PATCH_SCHEDULE_HOURS='0,6,12,18'
STEAMDB_PATCH_MAJOR_ONLY='false'
STEAMDB_PATCH_LIMIT='25'
STEAM_WATCHER_MAX_AGE_DAYS='7'

DASHBOARD_HOST='127.0.0.1'
DASHBOARD_PORT='5000'
DASHBOARD_PUBLIC_URL=''
